<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
      <processors>
        <saveUI>
          <processor type="milestonealaa.Models.ConfirmChanges,milestonealaa" patch:before="processor[@type='Sitecore.Pipelines.Save.CheckRevision,Sitecore.Kernel']" />
        </saveUI>
    </processors>
  </sitecore>
</configuration>