<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<configurations>
        <configuration name="milestonealaa" description="sitecore foundatin serialzation Description">
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true" >
            <!--Template-->
						<include name="milestonalaa.Template.Feature" database="master" path="/sitecore/templates/Feature" >
              <exclude children="true" />
            </include>
            <include name="milestonalaa.Template.Project" database="master" path="/sitecore/templates/Project" >
              <exclude children="true" />
            </include>
            <include name="milestonalaa.Template.Foundation" database="master" path="/sitecore/templates/Foundation" >
              <exclude children="true" />
              </include>
             <!--Media-->
            <include name="milestonalaa.MediaLibrary.Feature" database="master" path="/sitecore/Media Library/Feature" >
              <exclude children="true" />
            </include>
            <include name="milestonalaa.MediaLibrary.Project" database="master" path="/sitecore/Media Library/Project" >
              <exclude children="true" />
            </include>
            <include name="milestonalaa.MediaLibrary.Foundation" database="master" path="/sitecore/Media Library/Foundation" >
              <exclude children="true" />
            </include>
							<exclude path="Schedules" />
						<!--<include database="master" path="/sitecore/system/Workflows" />
						<include database="master" path="/sitecore/system/Settings" />-->
					</predicate>
					<syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" />
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
